{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<div>
    <p>Welcome to your Blog. Here you can read about what has been happening lately.</p>
</div>

<div class="row row-flex">
    {% for blog in blog_posts %}
    {% if forloop.counter|divisibleby:2 %}
    <div class="row col-10">
        <div class="col-6">
            <h6>{{ blog.topic }}</h6>
            <h6>{{ blog.title }}</h6>
            <p>{{ blog.description }}</p>
            <p>{{ blog.author }} on {{ blog.date }}</p>
        </div>
        <div class="col-6">
            <img style="width: 75%;" src="{% static 'images/blog/' %}{{blog.image}}"></img>
        </div>
    </div>
    {% else %}
    <div class="row col-10">
        <div class="col-6">
            <img style="width: 75%;" src="{% static 'images/blog/' %}{{blog.image}}"></img>
        </div>
        <div class="col-6">
            <h6>{{ blog.topic }}</h6>
            <h6>{{ blog.title }}</h6>
            <p>{{ blog.description }}</p>
            <p>{{ blog.author }} on {{ blog.date }}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}