{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="jumbotron jumbotron-fluid main-header blue-bg">
    <div class="container">
        <h1 class="jumbotron-title">Dev Hub</h1>
        <p class="content-text">All the support a project needs, all in one place.</p>
    </div>
</div>

<article class="pale-bg">
    <div class="row">
        <a class="col-lg-4 col-sm-12 about-card" href="{% url 'tickets' %}">
            <div>
                <div class="about-title">
                    <h3>Bug Tickets</h3>
                    <i class="fas fa-bug about-icon"></i>
                </div>
                <p class="about-text">
                    Have users provide you feedback about bugs to imporve 
                    productivty and fixes.
                </p>
            </div>
        </a>
        <a class="col-lg-4 col-sm-12 about-card" href="{% url 'forum' %}">
            <div>
                <div class="about-title">
                    <h3>Forum</h3>
                    <i class="fas fa-comments about-icon"></i>
                </div>
                <p class="about-text">Let users discuss bugs, improvements
                and provide feedback on features.</p>
            </div>
        </a>
        <a class="col-lg-4 col-sm-12 about-card" href="{% url 'graphs' %}">
            <div>
                <div class="about-title">
                    <h3>Graphs</h3>
                    <i class="fas fa-chart-bar about-icon"></i>
                </div>
                <p class="about-text">Show what you have a achieved in clear
                graphs about your project.</p>
            </div>
        </a>
    </div>
</article>

<article class="green-bg">
    <img class="header-img-sm" src="{% static 'images/blog_header.jpg' %}"></img>
    <section class="container">
        <img class="header-img-lg" src="{% static 'images/blog_header_1.jpg' %}"></img>
        <div class="row justify-content-center content">
            <div class="col-lg-8 col-sm-12 content-text"
                <p>Let users see the latest updates from the project by 
                blogging about it. Users can discuss the blog in the forum.</p>
            </div>
            {% if blog %}
            <div class="col-lg-8 col-sm-12 ticket blue-bg">
                <h4 class="blog-title">{{ blog.title }}</h4>
                <h5>Topic: {{ blog.topic }}</h5>
                <p class="content-text">{{ blog.description }}</p>
                <h6>Posted by {{ blog.author }} on {{ blog.date | date:"M. j. Y" }}</h6>
            </div>
            {% endif %}
        </div>
    </section>
</article>

<section class="dark-bg">
    <div class="container">
        <div class="content footer">
            <h4>Upcoming Features</h4>
            <p>
                Here you can read about any upcoming features that are being worked
                on. If you have any ideas you want to discuss open a topic in the 
                forum in Upcoming Features and we will reply.
            </p>
        </div>
    </div>
</section>



{% endblock %}