{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<article class="darkgreen-bg">
    <section class="container">
        <div class="content content-text">
            <div>
                <h4 class="header-title">Password Reset</h4>
                <p class="col-lg-8 offset-lg-2">
                    To reset your password, enter your email address
                    and a one time reset password link will be sent 
                    to your email
                </p>
            </div>
        </div>
    </section>
</article>

<article class="pale-bg">
    <section class="container">
        <div class="col-lg-8 offset-lg-2 content">
            {% if validlink %}
            <form method="POST">
                {% csrf_token %}
                
                {{ form | as_bootstrap }}
                <button type="submit" class="btn btn-custom blue-bg mt-4">Reset Password</button>
            </form>
            {% else %}
            <div class="content-text">
                <h5 class="error">Password reset unsuccessful</h5>
                <p>The password reset link was invalid, possibly because it has already been used.</p>
                <p>Please request a new password reset.</p>
            </div>
            {% endif %}
        </div>
    </section>
</article>
{% endblock %}
