{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<article class="darkgreen-bg">
    <section class="container">
        <div class="content content-text">
            <div>
                <h4 class="header-title">Password Reset</h4>
                <p class="col-lg-8 offset-lg-2">
                    Check your email and junk folder.
                </p>
            </div>
        </div>
    </section>
</article>

<article class="pale-bg">
    <section class="container">
        <div class="col-lg-8 offset-lg-2 content-text">
            <p>We have sent an email with instructions for setting a new password to the email address provided.</p>
            <p>You should be receiving it shortly.</p>
        </div>
    </section>
</article>
{% endblock %}