{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<article class="darkgreen-bg">
    <section class="container">
        <div class="content content-text">
            <div>
                <h4 class="header-title">Password reset complete</h4>
                <p class="col-lg-8 offset-lg-2">
                    Your password has been reset.
                </p>
            </div>
        </div>
    </section>
</article>

<article class="pale-bg">
    <section class="container">
        <div class="col-lg-8 offset-lg-2 content-text">
            <p>
                You can now Log in using your new password
                <strong><a href="{% url 'login' %}">Here</a></strong>.
            </p>
        </div>
    </section>
</article>
{% endblock %}