body {
    background-color: #DADFE5;
}
.pale-bg {
    background-color: #DADFE5;
}

.dark-bg {
    background-color: #39393A;
}

.green-bg {
    background-color: #A5C1B7;
}

.darkgreen-bg {
    background-color: #A6B990;
}

.blue-bg {
    background-color: #628193;
}

a {
    color: #39393A;
}

a:hover {
    color: #628193;
    text-decoration: none;
}

.success {
    font-weight: bold;
    font-size: 1.2rem;
    color: #53BB2F;
}

.error,
.error-msg {
    font-weight: bold;
    color: #CB4B4B;
}

.content {
    padding: 2rem 0;
}

.btn-custom {
    padding: 0.5rem 2rem;
    color: #FFF;
    font-weight: 600;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #628193;
}

.btn:hover {
    background-color: #39393A;
    color: #FFF;
}

.upvote {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: #FFF;
}

.upvote:hover {
    color: #39393A;
}

.main-header {
    height: 350px;
    margin-bottom: 0;
    color: #FFF;
    text-align: center;
}

.header-title {
    padding: 2rem 0;
}

.footer {
    color: #FFF;
}

.about-card {
    height: 150px;
    padding: 1.5rem 1rem;
    text-align: center;
    color: #39393A;
}

.about-card:hover {
    color: #39393A;
    text-decoration: none;
}

.about-title {
    padding: 1.25rem 0;
}

.about-text {
    display: none;
}

.blog-img,
.profile-img {
    width: 100%;
}

.header-img-sm {
        width: 100%;
    }
    
.header-img-lg {
    display: none;
}

.blog-title,
.ticket-title {
    padding: 1rem 0;
    text-align: center;
}

.footer-text,
.content-text {
    padding: 1rem 1rem;
    text-align: center;
}

.ticket {
    margin: 0.25rem 0;
    border: solid 2px #39393A;
    border-radius: 0.5rem;
    color: #FFF;
}

.forum-img {
    width: 100%;
    margin-bottom: 1rem;
}

#id_image,
#id_avatar{
    background-color: #DADFE5;
    border: none;
    padding: 0.5rem 2rem;
    color: #39393A;
}

#donation_progress {
    width: 100%;
    border: solid 1px #39393A;
    border-radius: 10px;
}

#donations {
    width: 1%;
    height: 2.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: #000;
    border: solid 0px #A5C1B7;
    border-radius: 10px;
}

@media (min-width: 576px) {

    .category-img {
        width: 100%;
    }
    
}

@media (min-width: 768px) {
    
    .about-card {
        height: 175px;
    }
    
    .blog-img, 
    .profile-img {
        width: 75%;
    }
    
}

@media (min-width: 992px) {
    
    .header-img-sm {
        display: none;
    }
        
    .header-img-lg {
        display: block;
        width: 100%;
    }
    
    .about-card {
        height: 200px;
        padding: 3rem 1rem;
    }
    
    .about-title {
        padding: 2.5rem 0;
    }
}

