body {
    background-color: #DADFE5;
}
.pale-bg {
    background-color: #DADFE5;
}

.dark-bg {
    background-color: #39393A;
}

.green-bg {
    background-color: #A5C1B7;
}

.darkgreen-bg {
    background-color: #A6B990;
}

.blue-bg {
    background-color: #628193;
}

a {
    color: #39393A;
}

a:hover {
    color: #628193;
    text-decoration: none;
}

.success {
    font-weight: 500;
    font-size: 1.2rem;
    color: #FFF;
}

.error,
.error-msg {
    font-weight: bold;
    color: #CB4B4B;
}

.content {
    padding: 2rem 0;
}

.btn-custom {
    margin: 0 0.5rem;
    padding: 0.5rem 2rem;
    color: #FFF;
    font-weight: 600;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #628193;
}

.btn:hover {
    background-color: #39393A;
    color: #FFF;
}

.link {
    text-align: center;
    border-bottom: solid 3px #39393A;
}

.link:hover {
    border-bottom: solid 3px #628193;
}

.upvote {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: #FFF;
}

.upvote:hover {
    color: #39393A;
}

.main-header {
    background-image: url(/static/images/header_img.jpeg);
    background-size: cover;
    height: 400px;
    margin-bottom: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
}

.header-title {
    padding: 2rem 0;
}

.jumbotron-title {
    padding: 2rem 0;
}

.footer {
    color: #FFF;
}

.about-card {
    height: 200px;
    padding: 1.5rem 1rem;
    text-align: center;
    color: #39393A;
}

.about-card:hover {
    color: #39393A;
    text-decoration: none;
}

.about-title {
    padding: 1.25rem 0;
}

.about-text {
    display: none;
    margin: 1rem 0.5rem;
}

.about-icon {
    font-size: 1.5rem;
}

.blog-img {
    width: 100%;
}

.header-img-sm {
        width: 100%;
    }
    
.header-img-lg {
    display: none;
}

.blog-title,
.ticket-title {
    padding: 1rem 1rem;
    text-align: center;
}

.topic-title,
.post-title {
    padding: 0.5rem 0.5rem;
    border-bottom: solid 3px #39393A;
}

.footer-text,
.content-text {
    padding: 1rem 1rem;
    text-align: center;
}

.ticket {
    margin: 0.5rem 0;
    border: solid 2px #39393A;
    border-radius: 0.5rem;
    color: #FFF;
}

.topic,
.post {
    padding: 1rem 1rem;
    border: double 10px #39393A;
    border-radius: 0.5rem;
    color: #000;
}

.forum {
    padding: 1rem 1rem;
}

.profile {
    background-color: #F0E7C1;
    margin: 0.5rem 0;
    padding: 1rem 1rem;
    border: double 10px #39393A;
    border-radius: 0.5rem;
    color: #000;
    font-size: 1.25rem;
}

.profile-link {
    color: #FFF;
}

.forum-img,
.profile-img {
    display: inline-block;
    margin: 1rem 1rem;
    max-width: 75%;
}

.avatar-img {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-top: 1rem;
}

.category-img {
        width: 100%;
    }

.profile-sm {
        display: block;
        padding: 0;
    }
    
.profile-lg,
.hidden-sm,
.author-lg{
        display: none;
    }
    
.author-sm {
    display: flex;
}

#id_image,
#id_avatar{
    background-color: #DADFE5;
    border: none;
    padding: 0.5rem 2rem;
    color: #39393A;
}

#donation_progress {
    width: 100%;
    border: solid 1px #39393A;
    border-radius: 10px;
}

#donations {
    width: 1%;
    height: 2.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: #000;
    border: solid 0px #A5C1B7;
    border-radius: 10px;
}

@media (min-width: 576px) {
    
    .profile-sm,
    .author-sm {
        display: none;
    }
    
    .profile-lg,
    .hidden-sm {
        display: block;
    }
    
    .author-lg {
        display: flex;
    }
    
    .forum-img,
    .profile-img {
        max-width: 50%;
    }
    
    .category-img {
        margin: 1rem 1rem;
        width: 50%;
    }

}

@media (min-width: 768px) {
    
    .about-card {
        height: 225px;
    }
    
    .main-header {
        height: 700px;
        font-size: 2rem;
    }
    
    .header-title {
        font-size: 3rem;
        padding: 2rem 0;
    }
    
    .jumbotron-title {
        font-size: 6rem;
        padding: 5rem 0;
    }
    
}

@media (min-width: 992px) {
    
    .header-img-sm {
        display: none;
    }
        
    .header-img-lg {
        display: block;
        width: 100%;
    }
    
    .about-card {
        height: 250px;
        padding: 3rem 1rem;
    }
    
    .about-title {
        padding: 2.5rem 0;
    }
    
    .category-img {
        width: 100%;
    }
    
    .profile-img {
        max-width: 75%;
    }
}

