{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<article class="darkgreen-bg">
    <section class="container">
        <div class="content content-text">
            <h4 class="header-title">Forum</h4>
            <p>
                Welcome to the Forum. 
            </p>
        </div>
    </section>
</article>

<article class="pale-bg">
    <section class="container">
        <div class="content column">
            {% for category in categories %}
            <div class="col-12">
                <div class="row">
                    <div class="col-md-2 col-sm-4">
                        <img class="forum-img" src="{% static 'images/' %}{{category.image_url}}"></img>
                    </div>
                    <div class="col-md-10 col-sm-8">
                        <div class="row justify-content-between px-5">
                            <div>
                                <a href="{% url 'category' category.id %}">
                                    <h5>{{ category.topic }} - {{ category.title }}</h5>
                                </a>
                            </div>
                            <div>
                                <h6>Posts: {{ category.posts }}</h6>
                            </div>
                        </div>
                        <div>
                            <p class="content-text">{{ category.description }}</p>
                            <p>{{ category.date }}</p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            {% endfor %}
        </div>
    </section>
</article>


{% endblock %}