{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}


<div class="row row-flex">
    {% for topic in topics %}
    <div class="col-10">
        <div class="row">
            {% if topic.image %}
            <div class="col-2">
                <img style="width: 100%;" src="{{ topic.image.url }}"></img>
            </div>
            {% endif %}
            <div class="col-10">
                <a href="{% url 'topic' topic.id %}">
                    <h6>{{ topic.title }}</h6>
                </a>
                <p>{{ topic.description }}</p>
                <p>{{ topic.date }}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <h6>Be the first to post here</h6>
    <a href="">
        <button class="btn btn-primary">Reply</button>
    </a>
    {% endfor %}
</div>
{% endblock %}