{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}


<div class="row row-flex">
    {% for category in categories %}
    <div class="col-10">
        <div class="row">
            <div class="col-2">
                <img style="width: 100%;" src="{% static 'images/' %}{{category.image_url}}"></img>
            </div>
            <div class="col-10">
                <a href="{% url 'category' category.id %}">
                    <h6>{{ category.topic }} - {{ category.title }}</h6>
                </a>
                <p>{{ category.description }}</p>
                <p>Posts: {{ category.posts }}</p>
                <p>{{ category.date }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}