{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<article class="darkgreen-bg">
    <section class="container content">
        <div class="row">
            <a href="{% url 'category' category_id %}">
                <div class="link ml-4">
                    <h6>
                        <i class="fas fa-angle-double-right"></i>
                        Back to category
                    </h6>
                </div>
                
            </a>
        </div>
        
        <div class="col-12">
            <div class="row content">
                <div class="col-lg-8 offset-lg-2 col-sm-12 topic">
                    <div class="row justify-content-around px-5">
                        <div>
                            <h4 class="topic-title">{{ topic.title }}</h4>
                        </div>
                        <div>
                            <p>Posts: {{ topic.posts }}</p>
                        </div>
                    </div>
                    <div>
                        <p class="content-text">{{ topic.description }}</p>
                        {% if topic.image %}
                        <img class="forum-img" src="{{ topic.image.url }}"></img>
                        {% endif %}
                        <p>Posted by {{ topic.created_by }} - {{ topic.date | timesince }} ago</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            {% if topic.locked  %}
            <div class="row">
                <a href="{% url 'create_post' topic_id %}">
                    <button class="btn btn-custom blue-bg" disabled>Reply</button>
                </a>
                <h6 class="content-text">This topic has been locked by the admin</h6>
            </div>
            {% elif user.is_authenticated or user.is_staff %}
            <a href="{% url 'create_post' topic_id %}">
                <button class="btn btn-custom blue-bg">Reply</button>
            </a>
            {% else %}
            <p class="px-4">
                To Reply please 
                <strong><a href="{% url 'login' %}">Login</a></strong>
            </p>
            {% endif %}
        </div>
        
       {% if messages %}
        <div class="messages content-text">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </section>
</article>
        
<article class="pale-bg">
    <section class="container">
        <div class="content column">
            {% for post in posts %}
            <div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-sm-12 post blue-bg">
                        <div class="row justify-content-between px-5">
                            <div>
                                <h4 class="post-title">{{ post.title }}</h4>
                            </div>
                            <div class="column justify-content-center">
                                <p>
                                    Upvote 
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'upvote_post' post.id %}">
                                        <i class="fas fa-chevron-up upvote"></i>
                                    </a>
                                    {% endif %}
                                </p>
                                <p>
                                    <strong>{{ post.upvotes }}</strong>
                                </p>
                            </div>
                        </div>
                        <div>
                            <p class="content-text">{{ post.description }}</p>
                            {% if post.image %}
                            <div class="row justify-content-center">
                                <img class="forum-img" src="{{ post.image.url }}"></img>
                            </div>
                            {% endif %}
                            <p class="footer">{{ post.author.profile.forum_tag }}</p>
                        </div>
                        <div>
                            {% if user == post.author or user.is_staff %}
                            <a href="{% url 'edit_post' topic_id post.id %}">
                                <button class="btn btn-custom darkgreen-bg">Edit</button>
                            </a>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="author-lg row col-lg-8 offset-lg-2 col-sm-12 justify-content-center ">
                    {% if post.author.profile.avatar %}
                    <img class="avatar-img" src="{{ post.author.profile.avatar }}"></img>
                    {% else %}
                    <img class="avatar-img" src="{% static 'images/default_profile.png' %}"></img>
                    {% endif %}
                    <div class="ml-4 mt-4">
                        <p>Posted by {{ post.author }} - {{ post.date | timesince }} ago</p>
                    </div>
                </div>
                <div class="author-sm row col-lg-8 offset-lg-2 col-sm-12 justify-content-center py-3">
                    {% if post.author.profile.avatar %}
                    <img class="avatar-img" src="{{ post.author.profile.avatar }}"></img>
                    {% else %}
                    <img class="avatar-img" src="{% static 'images/default_profile.png' %}"></img>
                    {% endif %}
                    <div class="ml-4">
                        <p>Posted by {{ post.author }}</p>
                        <p>{{ post.date | timesince }} ago</p>
                    </div>
                </div>
                <hr>
            </div>
            {% empty %}
            <div class="row">
                <h6>Be the first to post here</h6>
            </div>
            {% endfor %}
        </div>
    </section>
</article>

{% endblock %}