{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<article class="darkgreen-bg">
    <section class="container content">
        <div class="col-12">
            <a href="{% url 'category' category_id %}">
                <h6>Back to category</h6>
            </a>
            <div class="row content">
                {% if topic.image %}
                <div class="col-md-2 col-sm-4">
                    <img class="forum-img" src="{{ topic.image.url }}"></img>
                </div>
                {% else %}
                <div class="col-md-2 col-sm-4"></div>
                {% endif %}
                <div class="col-md-10 col-sm-8">
                    <div class="row justify-content-around px-5">
                        <div>
                            <h5>{{ topic.title }}</h5>
                        </div>
                        <div>
                            <p>Posts: {{ topic.posts }}</p>
                        </div>
                    </div>
                    <div>
                        <p class="py-4">{{ topic.description }}</p>
                        <p>By {{ topic.created_by }} on {{ topic.date }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            {% if topic.locked  %}
            <div>
                <h6>This topic has been locked by the admin</h6>
                <a href="{% url 'create_post' topic_id %}">
                    <button class="btn btn-custom blue-bg" disabled>Reply</button>
                </a>
            </div>
            {% elif user.is_authenticated or user.is_staff %}
            <a href="{% url 'create_post' topic_id %}">
                <button class="btn btn-custom blue-bg">Reply</button>
            </a>
            {% else %}
            <p class="px-4">To create a ticket please <a href="{% url 'login' %}">Login</a></p>
            {% endif %}
        </div>
        
       {% if messages %}
        <div class="messages content-text">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </section>
</article>
        
<article class="pale-bg">
    <section class="container">
        <div class="content column">
            {% for post in posts %}
            <div class="col-12">
                <div class="row">
                    {% if post.image %}
                    <div class="col-md-2 col-sm-4">
                        <img class="forum-img" src="{{ post.image.url }}"></img>
                    </div>
                    {% else %}
                    <div class="col-md-2 col-sm-4"></div>
                    {% endif %}
                    <div class="col-md-9 col-sm-7">
                        <div class="row justify-content-between px-5">
                            <div>
                                <h5>{{ post.title }}</h5>
                            </div>
                            <div class="column justify-content-center">
                                <p>
                                    Upvote 
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'upvote_post' post.id %}">
                                        <i class="fas fa-chevron-up upvote"></i>
                                    </a>
                                    {% endif %}
                                </p>
                                <p>
                                    <strong>{{ post.upvotes }}</strong>
                                </p>
                            </div>
                        </div>
                        <p class="pb-4">{{ post.description }}</p>
                    </div>
                    <div class="col-1">
                        {% if user == post.author or user.is_staff %}
                        <a href="{% url 'edit_post' topic_id post.id %}">
                            <button class="btn btn-custom blue-bg">Edit</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% if post.author.profile.avatar %}
                    <div class="col-md-2 col-sm-4">
                        <img class="forum-img" src="{{ post.author.profile.avatar }}"></img>
                    </div>
                    {% else %}
                    <div class="col-md-2 col-sm-4">
                        <img class="forum-img"  src="{% static 'images/default_profile.png' %}"></img>
                    </div>
                    {% endif %}
                    <div>
                        <p>By {{ post.author }} on {{ post.date }}</p>
                        <p>{{ post.author.profile.forum_tag }}</p>
                    </div>
                </div>
                <hr>
            </div>
            {% empty %}
            <div class="row">
                <h6>Be the first to post here</h6>
            </div>
            {% endfor %}
        </div>
    </section>
</article>

{% endblock %}