{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<article class="darkgreen-bg">
    <section class="container">
        <div class="content">
            <h4 class="header-title">{{ category.topic }} - {{ category.title }}</h4>
            <h6>Welcome to {{ category.topic }}</h6>
            <p class="content-text">
                Please read through the topics to see if it exists before creating
                a new topic. If your topic doesn't exist, create a new topic
                and we will do our best to respond to your topic. Please avoid 
                profanity and inappropriate language, the forum is monitored and
                repeated use of profanity will result in bans.</p>
            {% if user.is_authenticated %}
            <div class="row">
                <a href="{% url 'create_topic' category_id %}">
                    <button class="btn btn-custom blue-bg">Create Topic</button>
                </a>
            </div>
            {% else %}
            <div>
                <p>
                    To create a topic please 
                    <strong><a href="{% url 'login' %}">Login</a></strong>
                </p>
            </div>
            {% endif %}
        </div>
        
        {% if messages %}
        <div class="messages content-text">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </section>
</article>
        
<article class="pale-bg">
    <section class="container">
        <div class="content column">
            {% for topic in topics %}
            <div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-sm-12">
                        <div class="row justify-content-between px-5">
                            <div class="link col-lg-6 col-sm-8 offset-sm-2">
                                <a href="{% url 'topic' topic.id %}">
                                    <h4>
                                        <i class="fas fa-comment"></i>
                                        {{ topic.title }}
                                    </h4>
                                </a>
                            </div>
                            <div class="col-sm-12 mt-2">
                                <h5 class="float-right">Posts: {{ topic.posts }}</h5>
                            </div>
                        </div>
                        <div>
                            <p class="py-4">{{ topic.description }}</p>
                            {% if topic.image %}
                            <img class="forum-img" src="{{ topic.image.url }}"></img>
                            {% endif %}
                            <p>Posted by {{ topic.created_by }} - {{ topic.date | timesince }} ago</p>
                        </div>
                    </div>
                    <div class="col-1">
                        {% if user == topic.created_by or user.is_staff %}
                        <a href="{% url 'edit_topic' category_id topic.id %}">
                            <button class="btn btn-custom blue-bg">Edit</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <hr>
            </div>
            {% endfor %}
        </div>
    </section>
</article>

{% endblock %}