{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<article class="darkgreen-bg">
    <section class="container">
        <div class="content content-text">
            <h4 class="header-title">Forum</h4>
            <p class="pb-4">
                Welcome to the Forum. 
            </p>
        </div>
    </section>
</article>

<article class="pale-bg">
    <section class="container">
        <div class="content column">
            {% for category in categories %}
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-3 col-sm-12">
                        <img class="category-img d-flex mx-auto" src="{% static 'images/' %}{{category.image_url}}"></img>
                    </div>
                    <div class="col-lg-9 col-sm-12">
                        <div class="row justify-content-between forum">
                            <div class="link col-lg-6 offset-lg-2 col-sm-10 offset-sm-1">
                                <a href="{% url 'category' category.id %}">
                                    <h4>{{ category.topic }} - {{ category.title }}</h4>
                                </a>
                            </div>
                            <div class="col-sm-12 mt-2">
                                <h5 class="float-right">Posts: {{ category.posts }}</h5>
                            </div>
                        </div>
                        <div>
                            <p class="content-text">{{ category.description }}</p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            {% endfor %}
        </div>
    </section>
</article>


{% endblock %}