{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<article class="pale-bg">
    <section class="container">
        <div class="col-12 content">
            <div class="row">
                {% if topic.image %}
                <div class="col-md-2 col-sm-4">
                    <img class="topic-img" src="{{ topic.image.url }}"></img>
                </div>
                {% endif %}
                <div class="col-md-10 col-sm-8">
                    <div class="row justify-content-around px-5">
                        <div>
                            <a href="{% url 'topic' topic.id %}">
                                <h5>{{ topic.title }}</h5>
                            </a>
                        </div>
                        <div>
                            <p>Posts: {{ topic.posts }}</p>
                        </div>
                    </div>
                    <div>
                        <p class="content-text">{{ topic.description }}</p>
                        <p>By {{ topic.created_by }} on {{ topic.date }}</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        
        <div class="col-8 mx-auto">
            <form method="POST">
                {% csrf_token %}
                {{ post_form | as_bootstrap }}
                <div class="content">
                    <button type="submit" class="btn btn-custom blue-bg">{{ context }}</button>
                </div>
            </form>
        </div>
    </section>
</article>



{% endblock %}