{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<article class="darkgreen-bg">
    <section class="container">
        <div class="col-lg-8 offset-lg-2 content content-text">
            <h4 class="header-title">{{ context }}</h4>
            <p class="pb-4">
                Please complete the form below. Please avoid profanity and 
                inappropriate language, the forum is monitored and repeated 
                use of profanity will result in bans.
            </p>
        </div>
    </section>
</article>

<article class="pale-bg">
    <section class="container">
        <div class="col-12">
            <div class="row content">
                <div class="col-lg-8 offset-lg-2 col-sm-12 topic">
                    <div class="row justify-content-around px-5">
                        <div>
                            <h4 class="topic-title">{{ topic.title }}</h4>
                        </div>
                        <div>
                            <p>Posts: {{ topic.posts }}</p>
                        </div>
                    </div>
                    <div>
                        <p class="content-text">{{ topic.description }}</p>
                        {% if topic.image %}
                        <img class="forum-img" src="{{ topic.image.url }}"></img>
                        {% endif %}
                        <p>Posted by {{ topic.created_by }} - {{ topic.date | timesince }} ago</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-8 offset-lg-2 content">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ post_form | as_bootstrap }}
                <div class="content">
                    <button type="submit" class="btn btn-custom blue-bg">{{ context }}</button>
                </div>
            </form>
        </div>
    </section>
</article>



{% endblock %}