{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<article class="darkgreen-bg">
    <section class="container">
        <div class="col-lg-8 offset-lg-2 content content-text">
            <h4 class="header-title">{{ context }}</h4>
            <p class="pb-4">
                Please complete the form below. The title should be a short 
                summary of your topic and provide description of your topic.
                Please avoid profanity and inappropriate language, the forum 
                is monitored and repeated use of profanity will result in bans.
            </p>
        </div>
    </section>
</article>

<article class="pale-bg">
    <section class="container">
        <div class="col-lg-8 offset-lg-2 content">
            {% if topic_title %}
            <h5>{{ topic_title }}</h5>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ topic_form | as_bootstrap }}
                <div class="content">
                    <button type="submit" class="btn btn-custom blue-bg">{{ context }}</button>
                </div>
            </form>
        </div>
    </section>
</article>



{% endblock %}