{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<article class="pale-bg">
    <section class="container">
        <div class="col-lg-8 offset-lg-2 content">
            {% if topic_title %}
            <h5>{{ topic_title }}</h5>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ topic_form | as_bootstrap }}
                <div class="content">
                    <button type="submit" class="btn btn-custom blue-bg">{{ context }}</button>
                </div>
            </form>
        </div>
    </section>
</article>



{% endblock %}