{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<h2>Login</h2>

{% if messages %}
<div>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ login_form | as_bootstrap }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p>
    <a href="{% url 'password_reset' %}">Forgotten Password?</a>
</p>

<p>
    If you do not have an account with us, you can 
    <a href="{% url 'register' %}">Register Here</a>
</p>

{% endblock %}