{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

<h1>{{ user }}'s Profile</h1>

<p>{{ user.email }}</p>

<p>{{ user.profile.forum_tag }}</p>

{% if user.profile.avatar %}
<img style="width: 25%;" src="{{ user.profile.avatar.url }}"></img>
{% endif %}

<a href="{% url 'edit_profile' %}">
    <button class="btn btn-primary">Edit Profile</button>
</a>

{% if messages %}
<div>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

{% endblock %}