{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}


<article class="darkgreen-bg">
    <section class="container">
        <div class="content content-text">
            <div>
                <h4 class="header-title">{{ user }}'s Profile</h4>
                <p class="col-lg-8 offset-lg-2">
                    Welcome to your profile. Here you can view your current
                    details and personalize your account with an avatar and
                    a forum tag.
                </p>
            </div>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
</article>

<article class="pale-bg">
    <section class="container content">
        <div class="row content">
            <div class="col-lg-3 offset-lg-3 col-sm-4">
                {% if user.profile.avatar %}
                <img class="profile-img" src="{{ user.profile.avatar.url }}"></img>
                {% else %}
                <img class="profile-img" src="{% static 'images/default_profile.png' %}"></img>
                {% endif %}
            </div>
            <div class="col-lg-6 col-sm-8 profile">
                <p>First Name: {{ user.first_name }}</p>
                <p>Last Name: {{ user.last_name }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Forum Tag: {{ user.profile.forum_tag }}</p>
            </div>
        </div>
        <div class="col-lg-3 offset-lg-3 col-sm-12>
            <a href="{% url 'edit_profile' %}">
                <button class="btn btn-custom blue-bg">Edit Profile</button>
            </a>
        </div>
        
    </section>
</article>
{% endblock %}