{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script src="https://checkout.stripe.com/checkout.js"></script>
{% endblock %}

{% block content %}
{% if messages %}
<div>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<div class="row">
    <!--Donate £5 form-->
    <div class="col-4">
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat. 
        </p>
        <form method="POST" id="donate-5" action="{% url 'donate' 500 %}">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Donate £5">
        </form>
    </div>
    
    <!--Donate £10 form-->
    <div class="col-4">
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat. 
        </p>
        <form class="col-4" method="POST" id="donate-10" action="{% url 'donate' 1000 %}">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Donate £10">
        </form>
    </div>
    
    <!--Donate £15 form-->
    <div class="col-4">
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
            ut aliquip ex ea commodo consequat. 
        </p>
        <form class="col-4" method="POST" id="donate-15" action="{% url 'donate' 1500 %}">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Donate £15">
        </form>
    </div>
</div>
<div>
    <p>This is our total donations towards the next step of development. The current total is £{{ total_donations }}.</p>
</div>
<div class="pale-bg" id="donation_progress">
  <div class="green-bg" id="donations">{{ donation_width }}%</div>
</div>


<script>
    $(document).ready(function() {
        $("#donations").animate({
            width : "{{ donation_width }}%"
        }, 1500);
    });
</script>
<script>
    var handler_5 = StripeCheckout.configure({
        key: "{{ publishable }}",
        image: '',
        locale: 'auto',
        zipCode: true,
        token: function(token) {
            var form = document.getElementById('donate-5');
            var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'stripeToken');
                hiddenInput.setAttribute('value', token.id);
                form.appendChild(hiddenInput);
           
            form.submit();
        }
    });
    
    document.getElementById('donate-5').addEventListener("click", function(e) {
        // Open Checkout with further options:
        handler_5.open({
            name: "Dev Hub",
            description: "Donation",
            currency: "GBP",
            amount: 500
        });
        e.preventDefault();
        });
        
        // Close Checkout on page navigation:
        window.addEventListener('popstate', function() {
        handler_5.close();
    });
    
    var handler_10 = StripeCheckout.configure({
        key: "{{ publishable }}",
        image: '',
        locale: 'auto',
        zipCode: true,
        token: function(token) {
            var form = document.getElementById('donate-10');
            var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'stripeToken');
                hiddenInput.setAttribute('value', token.id);
                form.appendChild(hiddenInput);
           
            form.submit();
        }
    });
    
    document.getElementById('donate-10').addEventListener("click", function(e) {
        // Open Checkout with further options:
        handler_10.open({
            name: "Dev Hub",
            description: "Donation",
            currency: "GBP",
            amount: 1000
        });
        e.preventDefault();
        });
        
        // Close Checkout on page navigation:
        window.addEventListener('popstate', function() {
        handler_10.close();
    });
    
    var handler_15 = StripeCheckout.configure({
        key: "{{ publishable }}",
        image: '',
        locale: 'auto',
        zipCode: true,
        token: function(token) {
            var form = document.getElementById('donate-15');
            var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'stripeToken');
                hiddenInput.setAttribute('value', token.id);
                form.appendChild(hiddenInput);
           
            form.submit();
        }
    });
    
    document.getElementById('donate-15').addEventListener("click", function(e) {
        // Open Checkout with further options:
        handler_15.open({
            name: "Dev Hub",
            description: "Donation",
            currency: "GBP",
            amount: 1500
        });
        e.preventDefault();
        });
        
        // Close Checkout on page navigation:
        window.addEventListener('popstate', function() {
        handler_15.close();
    });
</script>
{% endblock %}